@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*body*/
body{
    margin:20px;
    padding:0;
    font-family:'Syne Mono';
    background: rgb(9,38,121);
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    animation: movinggradient 5s ease infinite;
    background-size: 200%;}
@keyframes movinggradient{
    0%{
        background-position: 0% 50%;  
    }
    50%{
        background-position: 100% 50%;  
    }
    100%{
        background-position: 0% 50%;
    }
}
/*date time box*/
.datetime{
    padding:10px;
    background:transparent;
    width:180px;
    height:50px;
    display: inline-flex;
    border: 3px solid white;
    border-radius: 8px;
}
.time{
    font-size: 28px;
    letter-spacing: 2px;
    display: flex;
    padding: 4px;
    align-items: center;
    text-align: center;
    
}
.time div{
    width: 38px;
    height: 40px;
    background-color:#0063B2FF;
    opacity: 0.9;
    border: 0.5px solid #fff;;
    border-radius: 6px;
    margin: 2px;
    
}
.time div:nth-child(4){
    width: 38px;
    height: 30px;
    background-color:#0063B2FF;
    opacity: 0.9;
    align-self: flex-end;
    border: 0.5px solid #fff;;
    border-radius: 6px;
    margin: 2px;
    
}
.time div span {
    color:white;
    

/*loading*/
}
.loader{
    z-index: 999999;
    position: fixed;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    width: 100%;
    top:0;
    left:0;
    height: 100%;
}
.bounceball{
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
    top:50%;
    left: 50%;
}
.bounceball:before{
    position: absolute;
    content: '';
    display: block;
    top:0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#fbae17;
    transform-origin: 50%;
    animation:bounce 500ms alternate infinite ease;
}
@keyframes bounce{
    0%{
        top:30px;
        height:5px;
        border-radius:60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35%{
        height:15px;
        border-radius:50%;
        transform: scaleX(1);
    }
    100%{
        top:0;
    }
}
/*header*/
header{
    position: relative;
    max-width: 1000;
    background-color:transparent;
    box-sizing: border-box;
    border-radius: 10px;
}
/*title*/
.title{
    color: whitesmoke;
    height: 50px;
    font-size:40px;
    line-height: 50px;
    background:transparent;
    margin: 20px;
    padding:4px;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    float: left;
}
/*pages*/
.pages{
    float: right;
    list-style-type:none;
    display: flex;
}
.pages li a{
    position: relative;
    display: inline-block;
    margin: 10px 6px;
    padding: 10px 25px;
    color: black;
    border-radius: 10px;
    background:transparent;
    overflow: hidden;
}
.pages li a.active,
.pages li a:hover{
    border-color: white;
    border-style: solid ;
    background-color: #0063B2FF;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
/*social media*/
.social_media{
    float:left;
    list-style-type: none;
    display: flex;
}
.social_media li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    color: azure;
}
.clearfix{
    clear: both;
}
@media (max-width:1400px)
{
    header{
        margin: 20px;
    }
    
}
li span{
    position: absolute;
    background: #fff;
    transform:translate(-50%,-50%);
    pointer-events:none;
    border-radius:50%;
    animation:animate 1s linear infinite;
}

@keyframes animate{
    0%{
        width: 0px;
        height:0px;
        opacity: 0.5;
    }
    100%{
        width: 500px ;
        height: 500px;
        opacity: 0;
    }
}
@media (max-width:650px)
{
    header
    {
        margin: 10px;
    }
    .title{
        justify-content: center;
        width:98%;
        text-align: center;
    }
    .pages{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .cont_2{
        margin-top: 5px;
    }

}

.cont_1{
    position: relative;
    width: 300px;
    height:300px;
    display: flex;
    margin-left: 20px;
    display: flex;
    background: transparent;
    border-radius: 20px;
    border-color: aliceblue;
    border-style: double;

}
.con_1{
    padding: 20px;
    box-sizing:border-box;
    color:#fff;
}

.cont_2{
    position: relative;
    width: 300px;
    height:300px;
    display: flex;
    margin-left: 20px;
    display: flex;
    background:transparent;
    border-radius: 20px;
    left:350px;
    top:-305px;
    border-color: aliceblue;
    border-style: double;

}
.con_2{
    padding: 20px;
    box-sizing:border-box;
    color:#fff;
}
@media (max-width:750px)
{
    .cont_1{
        width:420px;
        height: 200px;
        margin-right: 20px;
    }
    .cont_2{
        width:420px;
        height: 200px;
        display: block;
        top:-2px;
        left:-2px;
        margin-right: 20px;
    }

}
/*contact_us*/
.contact_section{
    margin: 20px;
    width:60%;
    background-color: black;
    opacity: 0.5;
    height:550px;
    border-radius: 20px;
    
}
.contact_form{
    padding: 20px;
    margin:50px;
    background-size: cover;
    background-position: center;
}
.contact_form label{
    color: white;

}
input{
    margin: 10px;
    width: 70%;
    height:30px;
    background-color: rgba(136, 133, 133,0.5);
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    font-size: 16px;
    font-weight: bold;
}
input::placeholder{
    color:white;
    font-size:15px;
}
textarea{
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133,0.5);
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    font-size: 16px;
    font-weight: bold;
}
textarea::placeholder{
    color:white;
    font-size:15px;

}
.submit{
    width:100px;
    outline: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    
}
.reset{
    width:100px;
    outline: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}


