@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body{
    margin:20px;
    padding:0;
    font-family:'Syne Mono';
    background: rgb(9,38,121);
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    animation: movinggradient 5s ease infinite;
    background-size: 200%;}
@keyframes movinggradient{
    0%{
        background-position: 0% 50%;  
    }
    50%{
        background-position: 100% 50%;  
    }
    100%{
        background-position: 0% 50%;
    }
}
header{
    position: relative;
    max-width: 1000;
    background-color:transparent;
    box-sizing: border-box;
    border-radius: 10px;
}
.title{
    color: whitesmoke;
    height: 50px;
    font-size:30px;
    line-height: 50px;
    background:transparent;
    margin: 20px;
    padding:4px;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    float: left;
}
.pages{
    float: right;
    list-style-type:none;
    display: flex;
}
.pages li a{
    position: relative;
    display: inline-block;
    margin: 10px 6px;
    padding: 10px 20px;
    color: black;
    border-radius: 10px;
    background:transparent;
    overflow: hidden;
}
.pages li a.home,
.pages li a:hover{
    border-color: lemonchiffon;
    border-style: groove;
    border-radius: 10px;
    transition: 0.5s;
}
.social_media{
    float:left;
    list-style-type: none;
    display: flex;
}
.social_media li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    color: azure;
}
.clearfix{
    clear: both;
}
@media (max-width:1400px)
{
    header{
        margin: 20px;
    }
    
}
span{
    position: absolute;
    background: #fff;
    transform:translate(-50%,-50%);
    pointer-events:none;
    border-radius:50%;
    animation:animate 1s linear infinite;
}
@keyframes animate{
    0%{
        width: 0px;
        height:0px;
        opacity: 0.5;
    }
    100%{
        width: 500px ;
        height: 500px;
        opacity: 0;
    }
}
@media (max-width:650px)
{
    header
    {
        margin: 10px;
    }
    .title{
        justify-content: center;
        width:98%;
        text-align: center;
    }
    .pages{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .cont_2{
        margin-top: 5px;
    }

}

.cont_1{
    position: relative;
    width: 300px;
    height:300px;
    display: flex;
    margin-left: 20px;
    display: flex;
    background: transparent;
    border-radius: 20px;
    border-color: aliceblue;
    border-style: double;

}
.con_1{
    padding: 20px;
    box-sizing:border-box;
    color:#fff;
}

.cont_2{
    position: relative;
    width: 300px;
    height:300px;
    display: flex;
    margin-left: 20px;
    display: flex;
    background:transparent;
    border-radius: 20px;
    left:350px;
    top:-305px;
    border-color: aliceblue;
    border-style: double;

}
.con_2{
    padding: 20px;
    box-sizing:border-box;
    color:#fff;
}
@media (max-width:750px)
{
    .cont_1{
        width:420px;
        height: 200px;
        margin-right: 20px;
    }
    .cont_2{
        width:420px;
        height: 200px;
        display: block;
        top:-2px;
        left:-2px;
        margin-right: 20px;
    }

}
